// Form Global
// ---------------

$form-inputs-labelclass: 'form-label';
$form-inputs-label-error-class: 'error';

// Form Input
// ---------------

$form-input-height: 40px;
$form-input-font-family: 'Josefin Sans', sans-serif;
$form-input-font-size: 14px;
$form-input-letter-spacing: normal;
$form-input-text-transform: none;
$form-input-padding: 10px;
$form-input-background-color: #efefef;
$form-input-color: #666666;
$form-input-border: 1px solid #d9d9d9;
$form-input-border-radius: 5px;
$form-input-box-shadow: 0 0 6px rgba(0, 0, 0, 0);
$form-input-hover-properties: true;
$form-input-hover-border-color: #b2b2b2;
$form-input-hover-background-color: #efefef;
$form-input-hover-box-shadow: 0 0 6px rgba(0, 0, 0, 0);
$form-input-focus-properties: true;
$form-input-focus-background-color: #efefef;
$form-input-focus-border-color: #b2b2b2;
$form-input-focus-box-shadow: 0 0 6px rgba(#666666, 0.25);
$form-input-placeholder-color: #8c8c8c;
$form-input-placeholder-focus-hidden: true;
$form-input-placeholder-focus-color: #8c8c8c;
$form-input-placeholder-font-family: inherit;
$form-input-placeholder-font-style: italic;
$form-input-placeholder-text-transform: capitalize;
$form-input-transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, text-shadow 0.3s ease;

// Form Select
// ----------------

$form-select-caret-shape-render: true;
$form-select-caret-color: #8c8c8c;
$form-select-caret-shape: 'arrow';
$form-select-caret-size: 10px;
$form-select-caret-image-url: 'path/to/shape';
$form-select-caret-background-size: 10px;

// Form Textarea
// ------------------

$form-textarea-height: 110px;
$form-textarea-resize: false;
$form-textarea-resize-mode: vertical;

// Form Label
// ---------------

$form-label-font-family: 'Josefin Sans', sans-serif;
$form-label-font-size: 11px;
$form-label-text-transform: uppercase;
$form-label-letter-spacing: 0.5px;
$form-label-color: #8c8c8c;
$form-label-margin: 0 0 5px 0;

// Form Validation
// --------------------

$form-input-error-background-color: #f2c0c1;
$form-input-error-border-color: #c04649;
$form-input-error-box-shadow: 0 0 6px rgba(#c04649, 0.35);
$form-input-error-color: #666666;
$form-input-error-label-color: #c04649;
$form-input-error-placeholder-color: #c04649;
$form-input-error-focus-style: false;

// Form Input Autofill
// ------------------------

$form-input-custom-autofill: false;
$form-input-autofill-color: $form-input-color;
$form-input-autofill-background-color: $form-input-background-color;

// Form Checkbox-Radio Custom
// -------------------------------

$custom-checkbox-radio-font-family: 'Josefin Sans', sans-serif;
$custom-checkbox-radio-font-size: 13px;
$custom-checkbox-radio-text-transform: none;
$custom-checkbox-radio-letter-spacing: 0.5px;
$custom-checkbox-radio-color: #8c8c8c;
$custom-checkbox-radio-cursor: default;
$custom-checkbox-radio-label-gutter: 10px;
$custom-checkbox-radio-align-center: false;
$custom-checkbox-radio-size: 24px;
$custom-checkbox-radio-background-color: #efefef;
$custom-checkbox-radio-border: 1px solid #d9d9d9;
$custom-checkbox-radio-hover-border: false;
$custom-checkbox-radio-hover-border-color: #b2b2b2;
$custom-checkbox-radio-checked-border: true;

// Form Checkbox Custom
// -------------------------

$custom-checkbox-border-radius: 5px;
$custom-checkbox-mark-thick: 3px;
$custom-checkbox-mark-color: #8c8c8c;
$custom-checkbox-checked-border-color: #b2b2b2;
$custom-checkbox-focus-border-color: #b2b2b2;
$custom-checkbox-error-border-color: #c04649;
$custom-checkbox-error-background-color: #f2c0c1;

// Form Radio Custom
// ----------------------

$custom-radio-mark-color: #8c8c8c;
$custom-radio-checked-border-color: #b2b2b2;
$custom-radio-focus-border-color: #b2b2b2;
$custom-radio-error-border-color: #c04649;
$custom-radio-error-background-color: #f2c0c1;