// Global
// ---------

$global-flexbox: true;
$global-font-size: 100%;
$global-body-font-size: 16px;
$global-text-direction: ltr;
$global-text-rendering: optimizeLegibility;
$global-letter-spacing-apply: false;
$global-letter-spacing: normal;
$global-font-liga-kern: true;
$global-links-text-decoration: true;
$global-input-reset-appearence: true;
$global-input-disabled-color: inherit;
$global-input-disabled-opacity: 0.5;
$global-input-disabled-cursor: not-allowed;
$global-input-search-cancel-button: true;
$global-select-reset-appearence: true;
$global-select-reset-appearance-options: false;
$global-custom-checkbox-radio: true;
$global-form-inputs-error-class: 'error';