// 2. Layout - Accessibility
// -------------------------

$what-input-outline-keyboard-detect: true;
$focus-links-outline-hidden: true;
$focus-inputs-outline-hidden: true;
$custom-checkbox-radio-outline-detect: true;
$custom-checkbox-radio-what-input-outline-detect: true;
$selection-background-color: #b3d4fc;
$selection-color-apply: false;
$selection-color: initial;
$ios-tap-color: transparent;