// Colors Palette
// -----------------

$palette-color: (
    1: #f9f9f9,
    2: #d7dde4,
    3: #4d4d4d,
    4: #000000,
    5: #EB7029,
    6: #FFCC00
);

// Colors Global
// ----------------

$body-background-color: #ffffff;
$body-base-color: #666666;
$headers-color: inherit;
$paragraph-color: inherit;
$links-color: #61afef;