// Shapes
// ----------

$shape-arrow-size: 20px;
$shape-arrow-color: #666666;
$shape-arrow-thickness: 3px;
$shape-checkmark-size: 20px;
$shape-checkmark-color: #666666;
$shape-checkmark-thickness: 3px;
$shape-cross-size: 20px;
$shape-cross-color: #666666;
$shape-cross-thickness: 3px;